{{- if not .Values.secret.ref }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "linode-cosi-driver.secretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "linode-cosi-driver.labels" . | trim | nindent 4 }}
  {{- with .Values.secret.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  LINODE_TOKEN: {{ required "value 'apiToken' required" .Values.apiToken | b64enc }}
  {{- if .Values.linodeApiUrl }}
  LINODE_URL: {{ .Values.linodeApiUrl | b64enc }}
  {{- end }}
  {{- if .Values.linodeApiVersion }}
  LINODE_API_VERSION: {{ .Values.linodeApiVersion | b64enc }}
  {{- end }}
{{- end }}
{{- if and (not .Values.s3.secret.ref) (not .Values.s3.ephemeralCredentials ) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "linode-cosi-driver.s3SecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "linode-cosi-driver.labels" . | trim | nindent 4 }}
  {{- with .Values.s3.secret.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  S3_ACCESS_KEY: {{ required "value 's3.accessKey' required" .Values.s3.accessKey | b64enc }}
  S3_SECRET_KEY: {{ required "value 's3.secretKey' required" .Values.s3.secretKey | b64enc }}
{{- end }}
