name: tests

on:
  merge_group:
  pull_request:
    branches: [ '*' ]
  push:
    branches:
      - "main"

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
          cache: false
      - run: make test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.out
          fail_ci_if_error: false
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: linode/linode-cosi-driver
